section.header
  h1.title Open Integrity Initiative
  h2.title Data Driven Security and Privacy
  .row
    input(type="email",placeholder="your@email.com")
  .row
    input.button(type="submit",value="Keep me updated")